%div{class:"grey_stripe"}
	%div{class:"container"}
		%div{class:"row"}
			%div{class:"span6"}
				%div
					%h1
						CYRUS BAUMGARTEN
						
%div{class:"container"}						
	%div{class:"row"}
		%div{class:"span6"}
			%div{class:"grey_text_right_justify"}
				%h1
					FULL STACK WEB DEVELOPMENT WITH RUBY ON RAILS
		%div{class:"span6"}
			%div{class:"grey_box_left_justify"}
				%h3
					San Francisco
					%br
					cdbaumg@gmail.com
					%br
					Github: Cyrus-Baumgarten
					%br
					253-320-0468
					
%div{class:"spacer"}
%div{class:"grey_stripe"}
	%div{class:"container"}
		%div{class:"row"}
			%div{class:"span6"}
				%div
					%h2
						OBJECTIVE			
%div{class:"container"}						
	%div{class:"row"}
		%div{class:"span1"}
		%div{class:"span11"}
			%div{class:"grey_box_left_justify"}
				%h3
					Seeking an entry level/junior full stack Ruby On Rails development position where I can show my keen ability to learn and adapt quickly.
					
%div{class:"spacer"}

%div{class:"grey_stripe"}
	%div{class:"container"}
		%div{class:"row"}
			%div{class:"span6"}
				%div
					%h2
						EXAMPLE WORK			
%div{class:"container"}						
	%div{class:"row"}
		%div{class:"span4"}
			%div{class:"grey_picture_box"}
				%h2
					Geekology.co
					%br
					%br
				=image_tag('ex1.jpg', class:'picture')
				%br
				%em
					%h3
						Redesigned existing website from ground up and coded by hand
				%h4
					%ul
						%li
							<a href="http://gtest-original.herokuapp.com/">Original Design</a>
						%li
							<a href="http://gtest-bootstrap.herokuapp.com/">First Iteration</a>
						%li
							<a href="http://www.geekology.co">Final Design/Live Site</a>
						%li
							<a href="https://github.com/Cyrus-Baumgarten/Geekology">Github Repo</a>
		%div{class:"span4"}
			%div{class:"grey_picture_box"}
				%h2
					Fontsketch Beta
					%br
					%br
				=image_tag('ex2.jpg', class:'picture')
				%br
				%em
					%h3
						Took idea<br>from concept to live beta in 7 days
				%h4
					%ul
						%li
							<a href="https://fontsketchtest.herokuapp.com/landing">Final Design/Live Site</a>
						%li
							<a href="https://github.com/Cyrus-Baumgarten/font2">Github Repo</a>
							%br
							%br
							%br
		%div{class:"span4"}
			%div{class:"grey_picture_box"}
				%h2
					Personal Blog
					%br
					%br
				=image_tag('ex3.jpg', class:'picture')
				%br
				%em
					%h3
						First full app published 28 days after first rails lessons
				%h4
					%ul
						%li
							<a href="https://cyrusrailsblog.herokuapp.com">Final Design/Live Site</a>
						%li
							<a href="https://github.com/Cyrus-Baumgarten/blog_complete">Github Repo (code reviewed by expert)</a>
							%br
							%br
%div{class:"spacer"}
%div{class:"grey_stripe"}
	%div{class:"container"}
		%div{class:"row"}
			%div{class:"span6"}
				%div
					%h2
						SKILLS	
%div{class:"grey_stripe"}
	%div{class:"container"}
		%div{class:"row"}
			%div{class:"span2"}
				%div
					%h3
						Proficient	
			%div{class:"span4"}			
			%div{class:"span2"}
				%div
					%h3
						Competent		
			%div{class:"span1"}			
			%div{class:"span2"}
				%div
					%h3
						Novice
%div{class:"container"}						
	%div{class:"row", id:"skills"}
		%div{class:"span6"}
			%div{class:"grey_box_left_justify"}
				%h3
					Ruby, Rails, ActiveRecord SQL, RDBMS, HTML, HAML, CSS, SASS, Bootstrap, jQuery, Git
		%div{class:"span3"}
			%div{class:"grey_box_left_justify"}
				%h3
					Ajax,
					UI/UX Design,
					RSpec
					%br
					%br
		%div{class:"span3"}
			%div{class:"grey_box_left_justify"}
				%h3
					JavaScript,
					%br
					NoSQL
					%br
					%br
%div{class:"spacer"}
%div{class:"grey_stripe"}
	%div{class:"container"}
		%div{class:"row"}
			%div{class:"span6"}
				%div
					%h2
						PROFESSIONAL
%div{class:"container"}						
	%div{class:"row"}
		%div{class:"span3"}
			%div{class:"grey_text_right_justify"}
				%h3
					Full Stack
					%br
					Web Developer (Contract)
					%br
					%br
					%br
					%br
					%br
					%br
					%br
					Front End Developer
					%br
					And Designer
					%br
					%br
					%br
					%br
					%br
					%br
					Department Manager,
					%br
					Loss Prevention Agent,
					%br
					Courtesy Clerk
					%br
					%br
					Associate Sales Rep
		%div{class:"span6"}
			%div{class:"grey_box"}
				%h3
					Tricendent (Project: Fontsketch)
					%ul
						%li Converted complex manual process into fully functioning beta web app
						%li Planned model and database design
						%li Wire-framed and designed front end and data presentation
						%li Coded by hand using Ruby, Rails, ActiveRecord/SQL, HTML, and CSS
					%br
					Jobfully / Geekology
					%ul
						%li As a development intern I completely redesigned Geekology.co from scratch
						%li Created a new branding approach
						%li Created a new user experience
						%li Coded by hand using Bootstrap, HAML, SASS, and jQuery
					%br
					Walmart
					%ul
						%li Advanced from lowest ranked hourly worker to manager in 12 months
						%li Direct management of 5 employees
					%br
					%br
					Marketsource
					%ul
						%li Field sales, customer service
						%li In-store demonstration of Sharp Televisions
		%div{class:"span1"}
			%div{class:"grey_box_date"}
				%h3
					2013
					%br
					%br
					%br
					%br
					%br
					%br
					%br
					%br
					%br
					2013
					%br
					%br
					%br
					%br
					%br
					%br
					%br
					%br
					2012
					%br
					\-
					2011
					%br
					%br
					%br
					%br
					2010
					%br
					%br
					%br
					%div{id:"equalizer"}
		%div{class:"span2"}
			%div
				%h3
					Redmond 
					%br
					WA
					%br
					%br
					%br
					%br
					%br
					%br
					%br
					%br
					Redmond
					%br
					WA
					%br
					%br
					%br
					%br
					%br
					%br
					%br
					Puyallup
					%br
					WA
					%br
					%br
					%br
					%br
					%br
					Kent
					%br
					WA
/%div{class:"grey_stripe"}
/	%div{class:"container"}
/		%div{class:"row"}
/			%div{class:"span4"}
/				%div
/					%h2
/						PERSONAL PROJECTS		
%div{class:"spacer"}	
%div{class:"grey_stripe"}
	%div{class:"container"}
		%div{class:"row"}
			%div{class:"span6"}
				%div
					%h2
						EDUCATION
							
%div{class:"container"}						
	%div{class:"row"}
		%div{class:"span3"}
			%div{class:"grey_text_right_justify"}
				%h3
					Web Development Apprenticeship
					%br
					%br
					Final Cut Pro X
					%br
					%br
					Studies Towards Associates In Arts
		%div{class:"span6"}
			%div{class:"grey_box"}
				%h3
					Bloc.io Rails Bootcamp
					%br
					%br
					%br
					Apple Certified Professional (Level 1)
					%br
					%br
					Green River Community College
					%br
					(60% Credits Complete)
		%div{class:"span1"}
			%div{class:"grey_box_date"}
				%h3
					2013
					%br
					%br
					%br
					2013
					%br
					%br
					2011
					%br
					%br
		%div{class:"span2"}
			%div
				%h3
					San
					%br
					Francisco
					%br
					CA
					%br
					Seattle
					%br
					WA
					%br
					Auburn
					%br
					WA
					
%div{class:"spacer"}
					
%div{class:"spacer"}
%div{class:"spacer"}